{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}

<div class="ui text container">

	<div class="ui styled accordion" style="width: 100%">
		<div class="title">
			<i class="dropdown icon"></i>
			New Breach Report
		</div>

		<div class="content">

			<form class="ui form" method="POST">

				{% csrf_token %}

				<div class="field">
					<label>Employee One:</label>
					<div class="ui selection dropdown">
						<input type="hidden" name="employee1">
						<i class="dropdown icon"></i>
						<div class="default text">Employee</div>
						<div class="menu">

							{% for emp in employees %}
								<div class="item" data-value="{{ emp.id }}">{{ emp.full_name }}</div>
							{% endfor %}

						</div>
					</div>
				</div>

				<div class="field">
					<label>Employee Two:</label>
					<div class="ui selection dropdown">
						<input type="hidden" name="employee2">
						<i class="dropdown icon"></i>
						<div class="default text">Employee</div>
						<div class="menu">

							{% for emp in employees %}
								<div class="item" data-value="{{ emp.id }}">{{ emp.full_name }}</div>
							{% endfor %}

						</div>
					</div>
				</div>

				<div class="field">
					<button class="ui primary fluid button">
						Submit
					</button>
				</div>

			</form>

		</div>

	</div>

	<div class="ui divider"></div>

	<table class="ui celled table">

		<thead>
			<tr>
				<th>Employee One</th>
				<th>Employee Two</th>
				<th>Breach Occured</th>
			</tr>
		</thead>

		<tbody>

			{% for breach in breaches %}
			<tr>
				<td>{{ breach.emp1.full_name }}</td>
				<td>{{ breach.emp2.full_name }}</td>
				<td>{{ breach.date }}</td>
			</tr>
			{% endfor %}

		</tbody>

	</table>

</div>

{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		$(document).ready(function(){
			changeNav( 'breach' )

			$('.ui.dropdown')
			  .dropdown()
			;

			$('.ui.accordion')
			  .accordion()
			;
		})
	</script>

{% endblock %}