{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

	<div class="ui text container" style="margin-top: 3em;">

		<h1>Please login:</h1>

		<form class="ui form" method="post" action="{% url 'login' %}">
		    {% csrf_token %}

		    <div class="field">
		    	<label>Username:</label>
		    	<input type="text" name="username" maxlength="30" />
		    </div>

		    <div class="field">
			    <label>Password:</label>
			    <input type="password" name="password" />
			</div>

			<div class="field">
				<button class="ui button">
					Login
				</button>
			</div>

		    <input type="hidden" name="next" value="" />
		</form>

	</div>
	
{% endblock %}