{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}

<div class="ui text container">

	<form class="ui form" method="POST">

		{% csrf_token %}

		<div class="field">
			<label>Employee Name</label>
			<input type="text" name="name" placeholder="E.g. John Smith">
		</div>

		<div class="field">
			<button class="ui primary fluid button">
				Submit
			</button>
		</div>

	</form>

</div>

{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		$(document).ready(function(){
			changeNav( 'search' )
		})
	</script>

{% endblock %}